## Question 1

In [34]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("IMDB-Movie-Data.csv")

<ul>
    <li><pre>Top N movies in the aspect of rating in the period of yeari to yearj</pre></li>
</ul>

In [94]:
def top_n_movies_Y1_Y2(n, Y1, Y2):
    period = df[(df["Year"] >= Y1) & (df["Year"] <= Y2)]
    period_sorted = period.sort_values("Rating", axis = 0, ascending = False)
    print("Top", n, "movies in the aspect of rating in the period of", Y1, "to", Y2, ":")
    for i in range(n):
        print("No.", i+1, "  ", period_sorted.iloc[i, 1])

In [95]:
top_n_movies_Y1_Y2(5, 2012, 2017)

Top 5 movies in the aspect of rating in the period of 2012 to 2017 :
No. 1    Dangal
No. 2    Kimi no na wa
No. 3    Interstellar
No. 4    The Dark Knight Rises
No. 5    Whiplash

<ul>
    <li><pre>Top N to top M actors of their accumulated or average revenue</pre></li>
</ul>

In [3]:
df.head()

,Rank,Title,Genre,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,55,The Dark Knight,Action|Crime|Drama,Christopher Nolan,Christian Bale| Heath Ledger| Aaron Eckhart|Mi...,2008,152,9.0,1791916,533.32,82.0
1,81,Inception,Action|Adventure|Sci-Fi,Christopher Nolan,Leonardo DiCaprio| Joseph Gordon-Levitt| Ellen...,2010,148,8.8,1583625,292.57,74.0
2,118,Dangal,Action|Biography|Drama,Nitesh Tiwari,Aamir Khan| Sakshi Tanwar| Fatima Sana Shaikh|...,2016,161,8.8,48969,11.15,NaN
3,37,Interstellar,Adventure|Drama|Sci-Fi,Christopher Nolan,Matthew McConaughey| Anne Hathaway| Jessica Ch...,2014,169,8.6,1047747,187.99,74.0
4,97,Kimi no na wa,Animation|Drama|Fantasy,Makoto Shinkai,Ryunosuke Kamiki| Mone Kamishiraishi| Ryo Nari...,2016,106,8.6,34110,4.68,79.0

In [ ]:
def accumulated_revenue(n, m):

<ul>
    <li><pre>The average rating of a specific actor's(e.g. Emma Watson) movies</pre></li>
</ul>

In [67]:
def average_rating(actor_name):
    actor_rating = []
    for i in range(df.shape[0]):
        if actor_name in df["Actors"][i]:
            actor_rating.append(df["Rating"][i])
        
    return(print("The average rating of", actor_name, "movies is", sum(actor_rating)/len(actor_rating)))

In [68]:
average_rating("Emma Watson")

The average rating of Emma Watson movies is 7.175

<ul>
    <li><pre>Top N to top M directors in the number of actors they collaborated</pre></li> 
</ul>

<ul>
    <li><pre>Top N to top M acotrs in the number of genres they had played</pre></li>  
</ul>

<ul>
    <li><pre>Top N to top M actors of their maximum gap of years</pre></li>
</ul>

<ul>
    <li><pre>Find all actors who collaborate with a specific actor(e.g. Johnny Deep) in direct and indirect ways</pre></li>  
</ul>

## Question 2

## Question 3